.form-container{
    display: flex;
    flex-direction: row;
}

.left-elements{
    position: relative;
flex-direction: column;
justify-content: center;
background-image: url("/home/michael/repos/Sign-Up-Form/photo-1553434320-e9f5757140b1.avif");
background-size: cover;
width: 40%;
height: 100vh;
}

.logo-bar{
position: absolute;
top: 30%;
height: 100px;
width: 100%;

background-color: rgba(186, 176, 176, 0.475)
}

.logo{
font-size: 40px;
line-height: 1px;
}

.form{
    font-family: 'Oswald', sans-serif;

display: flex;
flex-direction: row;
justify-content: space-around;

height: 35vh;
margin: 10px;
gap: 20px;
}

.form-elements{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    width: 60%;
}

.form-header{
background-color: rgba(167, 159, 159, 0.859);
height: 25vh;
width: 100%;
}

.left-form-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-form-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
.input-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
*/

label{
    margin-bottom: 2px;
    width: 150px;
    display: inline-block
}

input{
    padding: 3px;
    width: 250px;
    font-family: 'Oswald', sans-serif;

}

input:invalid{
    border: 2px solid rgb(208, 48, 48);
    box-shadow: none;
}

input:focus{
box-shadow: 5px 2px 10px #888888;
border: 2px solid black;
}




